@page
@model IndexModel
@{
    ViewData["Title"] = "PC&G Home Page";
}

<div class="text-center">
    <h1 class="display-4">Password Checker & Generator!</h1>
    <p>Use the navigation bar to access the Password Checker and Password Generator tools.</p> 
</div>